body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: lightpink;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #53015296;
    font-weight: bold;
}

.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
}

.about {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

#foto {
    max-width: 200px;
    border-radius: 50%;
    margin: 20px auto;
}

.about h2 {
    font-size: 24px;
}

.about p {
    font-size: 16px;
    line-height: 1.5;
}

.skills {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.skills h2 {
    font-size: 24px;
}

#lista {
    list-style: none;
    padding: 0;
}

#lista li {
    font-size: 18px;
    margin: 10px 0;
}

.projects {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.projects h2 {
    font-size: 24px;
}

.projects p {
    font-size: 18px;
    margin: 10px 0;
}

.redes {
    background-color: lightpink;
    color: #53015296;
    text-align: center;
    padding: 20px;
}

.contact-footer a {
    text-decoration: none;
    color: #53015296;
    font-size: 20px;
    margin: 10px;
}

.contact-footer a:hover {
    text-decoration: underline;
}

#copyright-footer {
    font-size: 16px;
    margin-top: 20px;
}